# Default ignored files
/workspace.xml

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Editor-based HTTP Client requests
/httpRequests/

# Local specific resides in .iml files mostly
/*.iml

# Ignore peoples local shelfed changes
/shelf/
